@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body{
background: url(top-view-desk-dark-concept-with-copy-space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 8%;
    background: #14213d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100 ;
}

.logo {
    height: 40px;
}

.nav_item{
    color: white;
    font-weight: 600;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 2px transparent solid;


}

.nav_item:hover{
    border-bottom: 2px white solid;
    cursor: pointer;
    
}

.nav_container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    align-items: center;

}
.home {
    height:100vh ;
    display: flex;
    align-items:center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: black;
    line-height:1.2 ;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: black;
}

.home-content p {
    font-size: 16px;
    margin: 15px  0 30px;
    color:black;
    
}
.home-content .btn-box {
    display: flex;
    justify-content:space-between;
    width: 345px;
    height: 50px;
    
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:tan ;
    border: 2px solid tan;
    border-radius:8px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow:hidden;
    transition:.5s;
   
}

.btn-box a:hover {
    color:tan ;

}
.btn-box a:nth-child(2)
{
    background: transparent;
    color:tan;
}
.btn-box a:nth-child(2):hover
{
    color: white;
} 

.btn-box a:nth-child(2)::before
{
    background:tan;
  } 

  .btn-box a::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:black;
    z-index:-1 ;
    transition:.5s;
}

.btn-box a:hover::before
{
    width: 100%;
}

container{
    width: 60%;
    padding: 45px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .row{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   
  }
  .col-md-7{
    padding: 20px;
  }
  .col-md-5{
    background: lightskyblue;
    padding: 20px;
    color: black;
  
  }
  .form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .bi{
    font-size: 20px;
  }
  .d-flex p{
    font-size: 18px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  @media only screen and (max-width:600px){
    .container{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 90%;
    }
  }
  

footer {
    position: px;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}


.footer-distributed {
    background-color:#14213d;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: white;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #ffffff;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}


.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}    